.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  min-width: 500px;
  box-shadow: 0px 2px 10px #cbcbcb;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: blue;
  text-decoration: none;
}

.label {
  margin-bottom: 12px;
}
