.header {
  width: 100%;
  padding: 12px 60px;
  box-shadow: 0px 2px 8px #ebebeb;
  position: relative;
  z-index: 20;

  @media (max-width: 768px) {
    padding: 12px 30px;
  }
}

.logoImage {
  object-fit: contain;
  width: auto;

  @media (max-width: 420px) {
    height: 55px;
  }
}

.link {
  color: blue;
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.userMenu {
  margin-left: 80px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
