.header {
  width: 100%;
  padding: 12px 40px;
  box-shadow: 0px 2px 8px #ebebeb;
  position: relative;
  z-index: 20;
}

.logoImage {
  object-fit: contain;
  width: auto;
}

.link {
  color: blue;
  text-decoration: none;
}
