.applicationContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}

.statusChip {
  padding: 5px 16px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 14px;
  color: #495057;
  cursor: pointer;
  transition-duration: 300ms;

  &:hover {
    background-color: #dee2e6;
  }
}

.activeChip {
  background-color: #228be6;
  color: white;

  &:hover {
    background-color: #228be6;
  }
}

.filtersBar {
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: #f8f9fa;
  padding: 30px 2px;
  transform: scale(1.003);
  overflow-x: auto;

  @media (max-width: 520px) {
    padding: 20px 2px;
  }
}
